<ng-container *ngIf="contentVisible">
  <div>
    <div class="client-container">
      <ng-container *ngIf="connectReport">
        <div class="connect-report-container">
          <h4>WebSocket Connection <button class=".reconnect-button" (click)="reconnectClicked()">Reconnect Web Socket</button></h4>
          <div>Connected to {{ connectReport.host }}</div>
          <div>Bound to PID <span class="pid-text">{{ connectReport.pid }}</span></div>
          <div>Connected at {{ connectReport.report_time }}</div>
        </div>
      </ng-container>
    
      <div class="initiate-button">
          <button (click)="initPushClicked()">Initiate Push</button>
      </div>
    
      <ng-container *ngIf="updateReport">
        <div class="update-report-container">
          <h4>WebSocket Push</h4>
          <div>Pushed by {{ updateReport.host }}</div>
          <div>Pushed by PID <span class="pid-text">{{ updateReport.pid }}</span></div>
          <div>Pushed at {{ updateReport.report_time }}</div>
        </div>
      </ng-container>

    </div>
  </div>  
</ng-container>
  